.backMenu {
    text-align: center;
    text-decoration: double;
    margin-left: 88%;
    margin-top: 2%;
    z-index: 1;
    /* display:block; */
    position: fixed;
    left: 0%;
    right: 100%;
    /* top: 20%; */
    overflow: hidden;
    width: 147px;
    height: 50px;
    color: #fff;
    background-color: #9b989893;
 
}